*{
    margin: 0;
    box-sizing: border-box;
    
}
header{
    height: 40vh;
    background-color: aqua;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    border-width: 10px;

}
#searcharea{
    margin-top: 50px;
}

.search{
    margin-top: 20px;
 
}
.container{
    display: flex;
    flex-direction: row;
}


h2{
    padding: 15px;
}
.cardata{
    display: flex;
    flex-direction: column;    
    
    
    
}
.inputarea{
    width: 300px;
    background-color:blanchedalmond;
    height: 60vh;
    border: solid 5px skyblue;
}


.btns{
    padding-left: 20px;
}

.cardata input{
    width: 200px;
    
}
.cardata label{
    margin-top: 15px;
}
.cardata{
    padding: 20px 20px;
}

.database{
    background-color: rgb(203, 226, 209);
    width: 500px;
    border: solid 5px skyblue;
}

.database h2{
    text-align: center;
}
thead{
    background-color: rgb(169, 201, 191);
}

thead th:last-child {
    text-align: center;
  }
  
  tbody td:last-child {
    text-align: center;
  }
  
  tbody tr {
    transition: 0.3s ease;
  }
  
  tbody td:hover {
    background-color: #d05656;
  }
  
  th,
  td {
    padding: 1rem;
    width: 8rem;
    border: 1px solid #fff;
  }
  th {
    font-weight: 400;
  }
  
  tbody tr:nth-child(even) {
    background-color: #4dd7d7;
  }